<div class="page-header">
  <h1>Profile</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= mail_to (@user.email) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Advanced</dt>
  <dt>Membership?</dt>
  <dd> <%= @user.advanced %></dd>
</dl>

<% if current_user && current_user.admin %>
<dl class="dl-horizontal">
  <dt>Admin?</dt>
  <dd> <%= @user.admin %></dd>
</dl>
<% end %>

<%= link_to 'Edit User', edit_user_path, class: "btn btn-info btn-default" %>
