<div class="page-header">
<%= title %>
</div>

<div class="form">
  <%= form_for @tasting_note do |f| %>

  <%= render 'shared/errors', instance: @tasting_note %>

  <div class="form-group">
    <%= f.collection_select(:wine_id, Wine.all, :id, :vineyard,
    {include_blank: "Please select a wine"}, {class: "form-control"}) %>
  </div>
  <%= %>
  <p>
    If your wine isn't available, please add it by clicking on "Add Wine"
  </p>

  <div class="form-group">
    <%= f.label :wine_rating, "Rating", class: "col-sm-2 control-label" %>
    <div class>
      <%= f.number_field :wine_rating, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :color_depth, "Color Depth", class: "col-sm-2 control-label" %>
    <div class>
      <%= f.select(:color_depth, ["watery", "light", "medium", "deep", "dark"],
      {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :color_hue, "Color Hue", class: "control-label"%>
    <div class>
      <%= f.select(:color_hue, ["greenish", "yellow", "straw yellow", "gold", "amber"],
      {include_blank: "White Wine"}, {class: "form-control"}) %>
      <%= f.select(:color_hue, ["purpleish", "ruby", "red", "garnet", "brick", "brown"],
      {include_blank: "Red Wine"}, {class: "form-control"}) %>
      <%= f.select(:color_hue, ["pink", "salmon", "orange", "copper"],
      {include_blank: "Rose Wine"}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :color_clarity, "Color Clarity", class: "control-label" %>
    <div class>
      <%= f.select(:color_clarity, ["clear", "slight haze", "cloudy"],
      {include_blank: :true}, {class:"form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :aroma_intensity, "Aroma Intensity", class: "control-label"  %>
    <div class>
      <%= f.select(:aroma_intensity, ["low", "medium", "powerful"],
      {include_blank: :true}, {class: "form-control"})%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :aroma_age, "Aroma Age", class: "control-label" %>
    <div class>
      <%= f.select(:aroma_age, ["young", "some age", "aged"],
      {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :aromas, "List Aromas", class: "control-label" %>
    <div class>
      <%= f.text_area :aromas, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taste_dry, "Dry/Sweet", class: "control-label" %>
    <div class>
      <%= f.select(:taste_dry, ["extremely dry", "dry", "off dry", "medium sweet", "sweet", "very sweet"],
      {include_blank: :true}, {class:"form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taste_body, "Body", class: "control-label" %>
    <div class>
      <%= f.select(:taste_body, ["very light", "light", "medium", "medium-full", "full-bodied", "heavy or thick"],
      {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taste_acid, "Acidity", class:"control-label" %>
    <div class>
      <%= f.select(:taste_acid, ["none", "tart", "crisp", "smooth"],
      {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taste_tannin, "Tannin (if any)", class:"control-label" %>
    <div class>
      <%= f.select(:taste_tannin, ["low", "medium", "high"],
      {include_blank: "Level"}, {class: "form-control"}) %>
      <%= f.select(:taste_tannin, ["soft", "round", "dry", "abrasive" ],
      {include_blank: "Type"}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taste_balance, "Balance", class:"control-label" %>
    <div class>
      <%= f.select(:taste_balance, ["good", "okay", "unbalanced"],
      {include_blank: :true}, {class: "form-control"}) %>
      <%= f.text_field :taste_balance, class: "form-control" %>
<!--If unbalanced, why? Too much alcohol, acid, tannin, and/or sugar? -->
    </div>
  </div>

  <div class="form-group">
    <%= f.label :flavors, "Flavors", class: "control-label" %>
    <div class>
      <%= f.text_area :flavors, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taste_finish, "Finish", class: "control-label" %>
    <div class>
      <%= f.select(:taste_finish, ["short/none", "medium", "long", "very long"],
      {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, "Notes", class: "control-label" %>
    <div class>
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>
  <% end %>
</div>

<!--
:taste_intensity,
:user_id -->
