<div class="page-header">
  <h1>Tasting Notes</h1>
</div>

<table class= "table">
  <thead>
    <tr>
      <td>
        Date
      </td>
      <td>
        Rating
      </td>
      <td>
        Name
      </td>
      <td>
        Winery
      </td>
      <td>
        Flavors
      </td>
      <td>
        Notes
      </td>
    </tr>
  </thead>
  <tbody>
    <% if current_user.admin == true %>
      <% @tasting_notes.each do |note| %>
      <tr>
        <td>
          <%= note.date.strftime("%m/%d/%Y") %>
        </td>
        <td>
          <%= note.wine_rating %>
        </td>
        <td>
          <!-- <%= link_to Wine.where(id: note.wine_id).pluck(:name).join(), tasting_note_path(note) %> -->
        </td>
        <td>
          <!-- <%= link_to Winery.where(id: Wine.where(id: note.wine_id).pluck(:winery_id)).pluck(:name).join(), winery_path(Wine.where(id: note.wine_id).pluck(:winery_id)) %> -->
        </td>
        <td>
          <%= note.flavors %>
        </td>
        <td>
          <%= note.notes %>
        </td>
        <td>
          <%= link_to "Edit", edit_tasting_note_path(note) %>
        </td>
        <td>
          <%= link_to "Delete", tasting_note_path(note), method: :delete, data: {confirm: "Are you sure?"} %>
        </td>
        </tr>
        <% end %>
      <% else %>
        <% current_user.tasting_notes.each do |note| %>
        <tr>
          <td>
            <%= note.date.strftime("%m/%d/%Y") %>
          </td>
          <td>
            <%= note.wine_rating %>
          </td>
          <td>
            <!-- <%= link_to Wine.where(id: note.wine_id).pluck(:name).join(), tasting_note_path(note) %> -->
          </td>
          <td>
            <!-- <%= link_to Winery.where(id: Wine.where(id: note.wine_id).pluck(:winery_id)).pluck(:name).join(), winery_path(Wine.where(id: note.wine_id).pluck(:winery_id)) %> -->
          </td>
          <td>
            <%= note.flavors %>
          </td>
          <td>
            <%= note.notes %>
          </td>
          <td>
            <%= link_to "Edit", edit_tasting_note_path(note) %>
          </td>
          <td>
            <%= link_to "Delete", tasting_note_path(note), method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
