<div class="page-header left">
  <div class="pull-right">
    <%= link_to "Edit", edit_tasting_note_path(@tasting_note) %>
    <%= link_to "Delete", tasting_note_path(@tasting_note), method: :delete,
    data: {confirm: "Are you sure?"} %>
  </div>
  <h1>Name</h1>
</div>

<p>
  Rating: <%= @tasting_note.wine_rating %>
</p>
<p>
  Last Tasted: date
</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">
          Details
        </h2>
      </div>
      <div class="panel-body">
        <p>
          <strong>Varietal:</strong>
        </p>
        <p>
          <strong>Year:</strong>
        </p>
        <p>
          <strong>Winery:</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">
          Notes
        </h2>
      </div>
      <div class="panel-body">
        <p>
          <%= @tasting_note.notes %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Color</h2>
      </div>
      <div class="panel-body">
        <% if current_user.advanced? || current_user.admin? %>
          <p>
            <strong>Depth:</strong> <%= @tasting_note.color_depth %>
          </p>
        <% end %>
        <p>
          <strong>Hue:</strong> <%= @tasting_note.color_hue %>
        </p>
        <% if current_user.advanced? || current_user.admin? %>
          <p>
            <strong>Clarity:</strong> <%= @tasting_note.color_clarity %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Aroma</h2>
      </div>
      <div class="panel-body">
        <% if current_user.advanced? || current_user.admin? %>
          <p>
            <strong>Intensity:</strong> <%= @tasting_note.aroma_intensity %>
          </p>
          <p>
            <strong>Age:</strong> <%= @tasting_note.aroma_age %>
          </p>
        <% end %>
        <p>
          <strong>List Aromas:</strong> <%= @tasting_note.aromas %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Taste</h2>
      </div>
      <div class="panel-body">
        <p>
          <strong>Dry/Sweet:</strong> <%= @tasting_note.taste_dry %>
        </p>
        <% if current_user.advanced? || current_user.admin? %>
          <p>
            <strong>Body:</strong> <%= @tasting_note.taste_body %>
          </p>
          <p>
            <strong>Acidity:</strong> <%= @tasting_note.taste_acid %>
          </p>
          <p>
            <strong>Tannin (if any):</strong> <%= @tasting_note.taste_tannin %>
          </p>
          <p>
            <strong>Balance:</strong> <%= @tasting_note.taste_balance %>
          </p>
        <% end %>
        <p>
          <strong>Flavors:</strong> <%= @tasting_note.flavors %>
        </p>
        <% if current_user.advanced? || current_user.admin? %>
          <p>
            <strong>Finish:</strong> <%= @tasting_note.taste_finish %>
          </p>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
