<div class="page-header">
  <div class="pull-right">
    <%= image_tag("Powered_By_Yelp_Red.png") %>
  </div>
  <h1>Colorado Wineries</h1>
</div>

<table class= "table">
  <thead>
    <tr>
      <td>
        Rating
      </td>
      <td>
        Name
      </td>
      <td>
        Website
      </td>
      <td>
        City
      </td>
      <% if current_user && current_user.admin %>
      <td>
        Approved?
      </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @wineries.each do |winery| %>
    <tr>
      <td>
        <%= image_tag winery.yelp_rating_img_small %>
        <% winery.yelp_rating %>
      </td>
      <td>
        <%= link_to winery.name, winery_path(winery) %>
      </td>
      <td>
        <%= winery.website %>
      </td>
      <td>
        <%= winery.city %>
      </td>
      <% if current_user && current_user.admin %>
        <td>
          <%= winery.approved %>
        </td>
        <td><%= link_to "Edit", edit_winery_path(winery) %></td>
        <td><%= link_to "Delete", winery, method: :delete, data: {confirm: "Are you sure?"} %></td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
