<div class="page-header">
  <h1>Colorado Wineries</h1>
</div>

<table class= "table">
  <thead>
    <tr>
      <td>
        Rating
      </td>
      <td>
        Name
      </td>
      <td>
        Description
      </td>
      <td>
        City
      </td>
    </tr>
  </thead>
  <tbody>
    <% @wineries.each do |winery| %>
    <tr>
      <td>
        <%= winery.rating %>
      </td>
      <td>
        <%= link_to winery.name, winery_path(winery) %>
      </td>
      <td>
        <%= winery.description %>
      </td>
      <td>
        <%= winery.city %>
      </td>
      <td>
      <td><%= link_to "Edit", edit_winery_path(winery), class: "btn btn-success" %></td>
      <td><%= link_to "Delete", winery, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
