<div class="page-header">
  <h1>Colorado Wineries</h1>
</div>

<table class= "table">
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        Website
      </td>
      <td>
        City
      </td>
      <% if current_user && current_user.admin? %>
      <td>
        Approved?
      </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if current_user && current_user.admin? %>
    <% @wineries.sort.each do |winery| %>
      <% if (winery.approved==false) %>
        <tr class= "alert alert-danger">
          <td>
            <%= link_to winery.name, winery_path(winery) %>
          </td>
          <td>
            <%= link_to winery.website, "http://#{winery.website}" %>
          </td>
          <td>
            <%= winery.city %>
          </td>
          <td>
            <%= winery.approved %>
          </td>
          <td><%= link_to "Edit", edit_winery_path(winery) %></td>
          <td><%= link_to "Delete", winery, method: :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= link_to winery.name, winery_path(winery) %>
          </td>
          <td>
            <%= link_to winery.website, "http://#{winery.website}" %>
          </td>
          <td>
            <%= winery.city %>
          </td>
            <td>
              <%= winery.approved %>
            </td>
            <td><%= link_to "Edit", edit_winery_path(winery) %></td>
            <td><%= link_to "Delete", winery, method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
      <% end %>
      <% end %>
    <% else %>
      <% @wineries.sort.each do |winery| %>
        <% if winery.approved == true %>
          <tr>
            <td>
              <%= link_to winery.name, winery_path(winery) %>
            </td>
            <td>
              <%= winery.website %>
            </td>
            <td>
              <%= winery.city %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
