<div class="page-header left">
  <h1><%= @winery.name %></h1>
</div>

<div class="row">
  <div class="pull-left">
    <% if @winery.winery_pic.present? %>
    <%= image_tag @winery.winery_pic, class: "img-responsive img-thumbnail" %>
    <% end %>
  </div>
  <p class="text-left">
    <strong>Rating:</strong> <%= image_tag @winery.yelp_rating_img_small %>
  </p>
  <p class="text-left">
    <%= @winery.yelp_review_count %> <%= image_tag("reviewsFromYelpRED.gif") %>
  </p>
  <p class="text-left">
    <strong>Address:</strong> <%= @winery.full_address %>
  </p>
  <p class="text-left">
    <strong>Hours:</strong> <%= @winery.hours %>
  </p>
  <p class="text-left">
    <strong>Phone Number:</strong> <%= @winery.phone_number %>
  </p>
  <p class="text-left">
    <strong>Email:</strong> <%= mail_to(@winery.email) %>
  </p>
  <p class="text-left">
    <strong>Website:</strong> <%= link_to @winery.website, "#{@winery.website}" %>
  </p>
  <p class="text-left">
    <strong>Yelp site:</strong> <%= link_to @winery.yelp_url, @winery.yelp_url %>
  </p>
</div>
