<div class="page-header left">
  <h1><%= @winery.name %></h1>
</div>

<div class="row">
  <!-- <% if @winery.winery_pic.present? %>
    <%= image_tag @winery.winery_pic, class: "img-responsive img-thumbnail" %>
  <% end %> -->

  <% YelpAPI.new.search({ term: 'wineries'}).businesses.each do |winery| %>
    <% if winery.id == @winery.yelp_id %>
      <p class="text-left">
        <strong>Rating:</strong> <%= image_tag winery.rating_img_url_small %>
      </p>
      <p class="text-left">
        <%= winery.review_count %> <%= image_tag("reviewsFromYelpRED.gif") %>
      </p>
      <p class="text-left">
        <strong>Yelp site:</strong> <%= link_to winery.url, winery.url %>
      </p>
    <% end %>
  <% end %>
  <p class="text-left">
    <strong>Address:</strong> <%= @winery.full_address %>
  </p>
  <p class="text-left">
    <strong>Hours:</strong> <%= @winery.hours %>
  </p>
  <p class="text-left">
    <strong>Phone Number:</strong> <%= @winery.phone_number %>
  </p>
  <p class="text-left">
    <strong>Email:</strong> <%= mail_to(@winery.email) %>
  </p>
  <p class="text-left">
    <strong>Website:</strong> <%= link_to @winery.website, "http://#{@winery.website}" %>
  </p>
  <p class="text-left">
    <strong>Description:</strong> <%= @winery.description %>
  </p>
  <p class="text-left">
    <strong>Wines:</strong> <%= @winery.wine_list %>
  </p>
</div>
