<div class="form-horizontal">
  <%= form_for(@wine) do |f| %>

  <%= render "shared/errors", instance: @wine %>

  <div class="form-group">
    <%= f.label :name, "Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :winery_id, "Winery", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:winery_id, Winery.all, :id, :name, {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grape_varietal, "Grape Varietal", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.select :grape_varietal, "varietals", {include_blank: :true}, {class: "form-control"} %>
      <% #f.collection_select(:grape_varietal, @varietals, :string, :string, {include_blank: :true}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, "State", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.select :state, "Colorado", {include_blank: "Colorado"}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :vineyard, "Vineyard", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :vineyard, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year, "Year", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :year, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit name: button_name, class: "btn btn-primary"%>
  </div>
  <br/>
  <% end %>
</div>

<% @varietals = [
'Barbera',
'Cabernet Franc',
'Cabernet Sauvingnon',
'Chardonnay',
'Grenache',
'Gewurztraminer',
'Malbec',
'Marsanne',
'Merlot',
'Mourvedre',
'Muscat',
'Petite Sirah',
'Petite Verdot',
'Pinot Noir',
'Pinot Gris',
'Riesling',
'Roussanne',
'Sangiovese',
'Sauvignon Blanc',
'Semillon',
'Syrah',
'Shiraz',
'Tannat',
'Tempranillo',
'Viognier',
'Zinfandel',
'Blend',
'Other'
]
%>
