<div class="form-horizontal">
  <%= form_for(@wine) do |f| %>

  <%= render "shared/errors", instance: @wine %>

  <div class="form-group">
    <%= f.label :name, "Name*", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :winery_id, "Winery", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:winery_id, Winery.all, :id, :name, {include_blank: :true}, {class: "form-control"}) %>
    </div>
    <div class="col-sm-4">
      <p>
        If your winery isn't here, please suggest a new winery here!
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grape_varietal, "Grape Varietal*", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.select :grape_varietal, Wine.varietals, {include_blank: :true}, {class: "form-control"} %>
    </div>
    <div class="col-sm-4">
      <p>
        For blends, either choose the primary varietal or blend.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, "State", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.select :state, Wine.states, {include_blank: "Colorado"}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :vineyard, "Vineyard", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :vineyard, class: "form-control"  %>
    </div>
    <div class="col-sm-4">
      <p>
        Might be the same as the winery.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year, "Year", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.number_field :year, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :wine_pic, "Picture", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.file_field :wine_pic, class: "form-control" %>
    </div>
    <div class="col-sm-4">
      <p>
        Feel free to add pictures of the label or in a glass.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit name: button_name, class: "btn btn-primary"%>
  </div>
  <br/>
  <% end %>
</div>
