<div class="form-horizontal" role="form">
  <%= form_for(@wine) do |f| %>

<%= render "shared/errors", instance: @wine %>

  <div class="form-group">
    <%= f.label :rating, "Rating", class: "control-label" %>
  </div>
    <%= f.number_field :rating, class: "form-control" %>

  <div class="form-group">
    <%= f.label :grape_varietal, "Grape Varietal", class: "control-label" %>
  </div>
    <%= f.text_field :grape_varietal, class: "form-control"  %>

  <div class="form-group">
    <%= f.label :country, "Country", class: "control-label" %>
  </div>
    <%= f.text_field :country, class: "form-control"  %>

  <div class="form-group">
    <%= f.label :state, "State", class: "control-label" %>
  </div>
    <%= f.text_field :rating, class: "form-control"  %>

  <div class="form-group">
    <%= f.label :vineyard, "Vineyard", class: "control-label" %>
  </div>
    <%= f.text_field :vineyard, class: "form-control"  %>

  <div class="form-group">
    <%= f.label :year, "Year", class: "control-label" %>
  </div>
    <%= f.number_field :year, class: "form-control"  %>

  <div class="form-group">
    <%= f.submit name: button_name, class: "btn btn-default"%>
  </div>
<br/>
  <% end %>
</div>
