<div class="page-header">
  <h1>Colorado Wines</h1>
</div>
<br/>
<table class= "table">
  <thead>
    <tr>
      <td>Rating</td>
      <td>
        Name
      </td>
      <td>Grape Varietal</td>
      <td>Vineyard</td>
      <td>Year</td>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
    <tr>
      <td><%= wine.rating %></td>
      <td>
        <%= link_to wine.name, wine_path(wine) %>
      </td>
      <td><%= wine.grape_varietal %></td>
      <td><%= wine.vineyard %></td>
      <td><%= wine.year %></td>
      <td><%= link_to "Edit", edit_wine_path(wine) %></td>
      <td><%= link_to "Delete", wine, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
