<div class="page-header">
  <h1><%= @wine.name %></h1>
</div>

<div class="row">
  <% if @wine.wine_pic.present? %>
  <div class="col-sm-6">
    <%= image_tag @wine.wine_pic, class: "img-responsive img-thumbnail" %>
  </div>
  <% end %>
  <p class="text-left">
    <strong>Rating:</strong>
    <% if TastingNote.where(wine_id: @wine.id).present? %>
      <td>
        <%= (TastingNote.where(wine_id: @wine.id).pluck(:wine_rating).sum)/(TastingNote.where(wine_id: @wine.id).pluck(:wine_rating).length) %>
      </td>
    <% else %>
      <td>
        n/a
      </td>
    <% end %>

  </p>
  <p class="text-left">
    <strong>Winery:</strong> <%= link_to Winery.where(id: @wine.winery_id).pluck(:name).join(), winery_path(@wine.winery_id) %>
  </p>
  <p class="text-left">
    <strong>Grape Varietal:</strong> <%= @wine.grape_varietal %>
  </p>
  <p class="text-left">
    <strong>Vineyard:</strong> <%= @wine.vineyard %>
  </p>
  <p class="text-left">
    <strong>Year:</strong> <%= @wine.year %>
  </p>
</div>
