<div class="page-header">
  <h1><%= @wine.name %></h1>
</div>

<div class="row">
  <% if @wine.wine_pic.present? %>
  <div class="col-sm-6">
    <%= image_tag @wine.wine_pic, class: "img-responsive img-thumbnail" %>
  </div>
  <% end %>
  <p class="text-left">
    <strong>Rating:</strong>
    <% if @wine.tasting_notes.present? %>
      <td>
        <%= number_with_precision(@wine.tasting_notes.average(:wine_rating), precision: 2) %>
      </td>
    <% else %>
      <td>
        n/a
      </td>
    <% end %>

  </p>
  <p class="text-left">
    <strong>Winery:</strong> <%= link_to @wine.winery.name, winery_path(@wine.winery_id) %>
  </p>
  <p class="text-left">
    <strong>Grape Varietal:</strong> <%= @wine.grape_varietal %>
  </p>
  <p class="text-left">
    <strong>Vineyard:</strong> <%= @wine.vineyard %>
  </p>
  <p class="text-left">
    <strong>Year:</strong> <%= @wine.year %>
  </p>
</div>
