<!DOCTYPE html>
<html>
  <head>
    <title>Wine Tracker</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <nav class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Wine Tracker", root_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Input Wine", new_wine_path %></li>
            <li><%= link_to "Show Wines", wines_path %></li>
            <li><%= link_to "How to Taste", taste_wine_path %></li>
          </ul>
        </nav>
      </div>
    </header>
<%= notice %>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p>Copyright &copy; <%= Time.zone.today.year %> Beth Jaswa | <%= link_to("Linkedin", "http://www.linkedin.com/in/bethjaswa/") %>
      </p>
    </footer>
  </body>

</html>
